<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <div class="slide">
                <img src="https://cdn.dribbble.com/users/3482353/screenshots/8050896/media/1bb01a3e260ffe3d370675d964a885b6.jpg" alt="logo" />
                <h1>RECOV<span class="app-name">id</span>ER</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut sed beatae eveniet laudantium sit harum quasi quidem ipsa veniam distinctio.</p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide">
                <img src="https://cdn.dribbble.com/users/3482353/screenshots/8050896/media/1bb01a3e260ffe3d370675d964a885b6.jpg" alt="logo" />
                <h1>RECOV<span class="app-name">id</span>ER</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit architecto reprehenderit dolore quisquam, ducimus facere dignissimos adipisci eius exercitationem eaque, necessitatibus corporis magnam nostrum! Aperiam voluptate eveniet
                    ea, aliquid doloremque enim sit quod ipsa unde?</p>
                <a class="btn btn-link" [routerLink]="['/home']">Continue</a>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>