<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="app-name">
            RE<span>COV</span>ER <span>19</span>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="health">
            <ion-icon name="medkit-outline"></ion-icon>
            <ion-label>Health</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="fake-news">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Fake News</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="opportunities">
            <ion-icon name="briefcase-outline"></ion-icon>
            <ion-label>Opportunities</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="discussion">
            <ion-icon name="bookmark-outline"></ion-icon>
            <ion-label>Disscussions</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>